:root {
  --blueColor: #199de5;
  --darkBlue: #076490;
  --dark-gray: #9eb1bb;
  --bgc-light-gray: #f5f7f8;
  --light-gray: #dfe5e8;
  --shadow-color: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

body {
  box-sizing: border-box;
  background-color: var(--bgc-light-gray);
  font-family: "" sans-serif;
  font-size: 15px;
}
.container {
  display: grid;
  grid-template-columns: 25% 55% 18%;
  grid-gap: 20px;
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  margin-top: 20px;
  padding: 0 20px;
}

/* Rustam's main-section -  begins here */
/* POST-1 Style START */


#status {
  margin: 20px 0 10px;
  padding: 8px 8px;
  font-size: 14px;
  border: 1px solid rgb(208, 205, 205);
  width: 98%;
}

.feeds i {
  color: #ffffff;
  display: inline-block;
  padding: 7px 0px;
}

/* POST-1 Style END */
.feeds {
  border: 1px solid white;
  box-shadow: 0px 2px 5px 4px rgb(224, 222, 222);
  padding: 20px 20px;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin-top: 15px;
}

.rachel-img,
.aikol-img,
.ulan-img {
  border-radius: 50%;
  margin-right: 16px;
  float: left;
}

.feeds {
  text-align: left;
  background-color: white;
  padding: 0.15px 16px;
  border-radius: 10px;
  margin-bottom: 10px;
}

h4 {
  margin: 10px 0px;
  font-weight: normal;
  padding: 15px;
  font-size: 18px;
}


.feeds .time {
  float: right;
  color: #8c9498;
}

.feeds .button {
  margin: 0 0 15px;
  border: none;
  padding: 7px 10px;
  size: 15px;
  color: white;
  background-color: #199de5;
}

.button:hover {
  background-color: lightgray;
  color: black;

  i {
    color: black;
  }
}

.feeds p {
  margin: 12px 0;
}

#bootcampvenue {
  color: black;
  text-decoration: underline;
}



/* Rustam's main-section -  ends here */
/* Zhanar's right-side -  begins here */

.right-side {
  display: flex;
  flex-direction: column;
}
.right-cont {
  background-color: white;
  margin: 5px;
  width: 200px;
  box-shadow: var(--shadow-color);
  border-radius: 4px;
  text-align: center;
}

#event-image {
  width: 90%;
}
#react-course {
  font-weight: bold;
}
#info-btn {
  background-color: var(--light-gray);
  width: 80%;
  padding: 5px;
  margin-left: 10px;
}
#info-btn:hover {
  background-color: #9eb1bb;
}
a {
  text-decoration: none;
  color: black;
}

#shiba-inu {
  width: 50%;
}

#green,
#red {
  width: 40%;
  text-decoration-line: none;
  color: white;
  border: none;
  margin-bottom: 15px;
  padding: 10px;
}
#red:hover {
  background-color: var(--dark-gray);
  color: #076490;
}
#green:hover {
  background-color: var(--dark-gray);
  color: #076490;
}
#green {
  background-color: #4caf50;
}
#red {
  background-color: #f44336;
  margin-left: -4px;
}

#right-cont3 {
  padding: 30px 0px;
}

#bug-icon {
  width: 2rem;
  padding: 30px 0px;
}

/* Zhanar's right-side -  ends here */

@media (max-width: 600px) {
  .grid {
    display: block;
    margin: 20px;
  }

  .center-column {
    margin-top: 20px;
  }

  .images {
    display: block;
    width: 100%;
    margin: 10px auto;
  }

}